.App-footer{
font-family:'Courier New', Courier, monospace;
font-size: 12px;
text-align: center;
margin: 30px;
}

.App-logo {
  display: block;
  margin: 0 auto;
  max-width: 250px;
}

body {
  background-color: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}